* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --theme-color : rgb(8, 39, 33);
    --theme-color-shadow : rgba(36, 184, 155, 0.553);
}

body {
    background-color: var(--theme-color);
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav > ul {
    margin-top: 1em;
    display: flex;
}

nav > ul button {
    flex: 1;
    width: 5em;
    background-color: var(--theme-color); 
    color: rgba(0, 255, 157, 0.783);
    border: 0;
    
    text-align: center;
}

#home, #menu {
    border-right: 2px solid rgb(0, 0, 0);
}

nav > ul button:hover {
    cursor: pointer;
    box-shadow: 0 4px 2px -3px rgba(127, 255, 212, 0.502);
    color: white;
}

#logo {
    height: 10em;
}

header {
    width: 60vw;
}

#content {
    width: 60vw;
    margin: 2em;
    padding: 1.5em 3em;

    display: flex;
    flex-direction: column;
    gap: 3em;
    box-shadow: 0 0 10px 4px var(--theme-color-shadow);
}

ul {
    list-style-type: none;
}

#content h1, #content h2, #content h3, #content ul {
    text-align: center;
}

#logo-container {
    display: flex;
    justify-content: center;
}

#opening-hours {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}